#two-factor-options[disabled],
#two-factor-options th:not([scope]),
#two-factor-options h2,
.two-factor-warning-revalidate-session + .two-factor-warning-suggest-backup,
.two-factor-warning-suggest-backup em,
.button-two-factor-backup-codes-generate + em {
	display: none;
}

#two-factor-options {
	margin-top: 0;
	padding: 0;
}

#two-factor-options,
.two-factor-methods-table,
#two-factor-options .two-factor-methods-table tr,
#two-factor-options .two-factor-methods-table td {
	border: 0;
}

#two-factor-options .two-factor-methods-table {
	table-layout: auto;
}

.bp-2fa {
	margin-top: 2.5em;
}

.two-factor-revalidate {
	display: table;
	margin-bottom: 2em;
	margin-top: 1em;
	text-transform: capitalize;
}

.two-factor-methods-table td {
	font-weight: bold;
}

.two-factor-methods-table div, .two-factor-methods-table p {
	font-weight: normal;
	margin-top: .5em;
}

.two-factor-methods-table {
	border-spacing: 0;
}

#two-factor-options .two-factor-primary-method-table th,
#two-factor-options .two-factor-primary-method-table td {
	display: block;
}

#two-factor-options .two-factor-primary-method-table th {
	display: block;
	font-weight: bold;
	font-size: 17px;
	padding-top: 0;
	padding-left: 0;
}

#two-factor-options .two-factor-primary-method-table td {
	display: grid;
}

#two-factor-options .two-factor-primary-method-table select {
	order: 2;
}

#two-factor-options .two-factor-primary-method-table option[disabled],
#two-factor-options .two-factor-primary-method-table option[value="Two_Factor_Backup_Codes"] {
	display: none;
}

#security-keys-section,
#webauthn-security-keys-section,
.two-factor-methods-table tr:has(#enabled-Two_Factor_FIDO_U2F) {
	display: none;
}

body.no-js #webauthn-security-keys-section {
	display: block;
}

#security-keys-section .spinner {
	background-size: 20px 20px;
	display: inline-block;
	visibility: hidden;
	float: right;
	vertical-align: middle;
	opacity: .7;
	width: 20px;
	height: 20px;
	margin: 4px 10px 0;
}

#security-keys-section .spinner.is-active {
	visibility: visible;
}

#two-factor-totp-options.configured p + p {
	display: flex;
	flex-direction: column-reverse;
}

#two-factor-totp-options.configured p + p a.button {
	width: max-content;
}

#two-factor-backup-codes[data-count="0"] span {
	display: none;
}

#two-factor-options .two-factor-methods-table td label {
	margin-top: 0;
}

#two-factor-options .two-factor-methods-table tfoot,
#security-keys-section tfoot,
#webauthn-security-keys-section tfoot {
	display: none;
}

#security-keys-section td,
#webauthn-security-keys-section td {
	vertical-align: top;
}

#security-keys-section .delete,
#webauthn-security-keys-section .delete {
	float: none;
}

#security-keys-section .row-actions,
#webauthn-security-keys-section .row-actions {
	padding-top: .5em;
}

#security-keys-section .ptitle,
#webauthn-security-keys-section .ptitle {
	padding: .1em;
}

#two-factor-options label:hover {
	cursor: pointer;
}

button.button-two-factor-backup-codes-generate.code-loading:before {
	margin: -2px 2px 0 -3px;
	display: inline-block;
	font: normal 20px/1 "dashicons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
	animation: rotation 2s infinite linear;
	color: #f56e28;
	content: "\f463";
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}